{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

        <!-- <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="pickup_item">
                <a href="{{ News.url }}">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/news.jpg"></div>
                    <p class="item_comment text-warning">NEWS</p>
					{% for News in NewsList %}
                    <dl>
                        <dt class="item_comment">{{ News.title }}</dt>
                    </dl>
                    {% endfor %}
                </a>
            </div>
        </div> -->
<div id="contents_top">
	<div id="item_list">
	    <div class="row">
	        <div class="col-xs-4 col-sm-4 col-md-4">
	            <div class="pickup_item">
	                <a href="/about/ovo">
	                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/01@2x.jpg"></div>
	                    <p class="item_comment text-warning">DISPLAY</p>
	                    <dl>
	                        <dt class="item_comment">飾る</dt>
	                    </dl>
	                </a>
	            </div>
	        </div>
	        <div class="col-xs-4 col-sm-4 col-md-4">
	            <div class="pickup_item">
	                <a href="/about/ovo">
	                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/02@2x.jpg"></div>
	                    <p class="item_comment text-warning">HAND</p>
	                    <dl>
	                        <dt class="item_comment">手わたす</dt>
	                    </dl>
	                </a>
	            </div>
	        </div>
	        <div class="col-xs-4 col-sm-4 col-md-4">
	            <div class="pickup_item">
	                <a href="/about/ovo">
	                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/03@2x.jpg"></div>
	                    <p class="item_comment text-warning">CONNECT</p>
	                    <dl>
	                        <dt class="item_comment">つながる</dt>
	                    </dl>
	                </a>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-4">
	            <div class="pickup_item">
	                <a href="/about/ovo">
	                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/01@2x.jpg"></div>
	                </a>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-4">
	            <div class="pickup_item">
	                <a href="/about/ovo">
	                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/01@2x.jpg"></div>
	                </a>
	            </div>
	        </div>
	        <div class="col-xs-12 col-sm-4 col-md-4">
	            <div class="pickup_item">
	                    <p class="boxL">QR-OVO (24枚)<br>
	                    ¥1,920<br>
						（税別・送料別）</p>
						<p class="boxL">サイズ:68×68mm<br>
						特厚プリント 0.85mm<br>
						スリーブケース付き</p>
	            </div>
	        </div>
		</div>
    <div class="txt_center">
    <p>
    	<span class="btnMark_pre"></span>
    	<a href="/about/ovo" class="btnStd btnMark">more ABOUT</a>
    </p>
	</div>
	</div>
</div>